<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <form method="post" action="/">
        <p><b>Введите имя пользователя:</b><br>
            <label>
                <input id="name" type="text" class="main" name="username" size="40">
            </label>
        </p>
        <button type="submit" id="submit">Проверить</button>
    </form>
</body>
</html>