<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <p>Пользователь отсуствует</p>
        <form method="post">
            <button type="submit">Назад</button>
        </form>
    </body>
</html>